.db {
  display: block;
}
.pr {
  position: relative;
}
.main_left {
  background-color: #eee;
}
.main_left a.logo {
  background-color: skyblue;
  display: block;
  width: 100%;
}
.main_left a.logo img {
  display: block;
  width: 100%;
}
.main_left .ml_choose a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}
.main_left .ml_choose a:hover {
  background: #fff;
}
.main_center .mc_title {
  display: table-row;
}
.main_center .mc_title .mc_left {
  width: 50%;
  display: table-cell;
  border-bottom: 5px solid #fff;
  background: #666;
}
.main_center .mc_title .mc_left img {
  display: block;
  width: 100%;
}
.main_center .mc_title .mc_left span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 26px;
  color: #fff;
  padding: 20px 10px;
}
.main_center .mc_title .mc_right {
  width: 50%;
  display: table-cell;
}
.main_center .mc_title .mc_right a {
  width: 50%;
  float: left;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
}
.main_center .mc_title .mc_right a:nth-child(3) {
  clear: both;
}
.main_center .mc_title .mc_right a img {
  display: block;
  width: 100%;
}
.main_center .mc_title .mc_right a span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 5px;
}
.main_center .mc_content {
  margin-top: 5px;
  border-top: 1px #000 solid;
}
.main_center .mc_content .article > a {
  display: block;
  color: #000;
}
.main_center .mc_content .article span {
  display: block;
}
.main_center .mc_content .newspic {
  padding: 20px;
}
.main_right a.zgboke {
  display: block;
  width: 100%;
}
.main_right a.zgboke img {
  display: block;
  width: 100%;
}
.main_right a.highsearch {
  display: block;
  border: 1px solid #000;
  padding: 40px 10px 10px;
  margin-top: 30px;
  text-decoration: none;
}
.main_right a.highsearch h4 {
  font-size: 18px;
  color: skyblue;
}
.main_right a.highsearch span.content {
  color: #666;
}
.main_right a.highsearch span.hotblue {
  position: absolute;
  top: 0;
  left: 20px;
  color: #fff;
  background-color: skyblue;
  padding: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_left .logo img {
    width: 30%!important;
    margin: 0 auto;
  }
  .main_left .ml_choose a {
    float: left;
    width: 20%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main_left .logo span {
    display: block;
    text-shadow: 0px 2px 1px grey;
    padding: 30px 0;
    font-size: 26px;
    color: #fff;
    text-align: center;
  }
  .main_left .ml_choose a {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 14px;
  }
  .main_center .mc_title .mc_left {
    display: block;
    float: left;
    width: 100%;
  }
  .main_center .mc_title .mc_left span {
    display: block;
    width: 100%;
    background-color: #666;
  }
  .main_center .mc_title .mc_right {
    display: block;
    float: left;
    width: 100%;
  }
  .main_center .mc_title .mc_right a {
    background-color: #ccc;
  }
  .main_center .mc_title .mc_right a img {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
  }
}
